/* Media Query for Screen Sizes Smaller than 1234px */
@media screen and (max-width: 1234px) {
    .individual-project-container {
        flex-basis: calc(50% - 1rem); /* Two items per row */
    }
}

@media screen and (max-width: 1400px) {
  #profile {
      height: 83vh;
      margin-bottom: 6rem;
  }

  .about-containers {
      flex-wrap: wrap;
  }

}




@media screen and (max-width: 1200px) {
  #desktop-nav {
      display: none;
  }

  #hamburger-nav {
      display: flex;

  }

  #experience, .experience-details-container, #experience-section {
      margin-top: 2rem;
  }

  /* #experience-section {
    margin-top: 16rem;
  } */
  

  #profile, .section-container, #profile-section, .about-section-container {
      display: block;
  }

  .arrow {
      display: none;
  }

  section, .section-container, .about-section-container {
      height: fit-content;
  }

  section {
      margin: 0 5%;
  }

  /*.section__pic-container,*/ .profile-picture-container, .about-section-pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
      margin-bottom: 12rem;
  }

  .about-containers, .specific-details-container {
      margin-top: 0;
  }

}

@media screen and (min-width: 601px) and (max-width: 1199px) {
  #profile-section {
    height: auto; /* Remove the fixed height */
}
}

@media screen and (max-width: 600px) {
  .intro {
    margin-bottom: 2rem;
  }

  #contact-section, footer {
      height: auto;
  }

  #profile-section {
      /* height: 83vh; */
      height: auto;
      margin-bottom: 0;
  }

  .profile-picture-container {
    margin-bottom: 2rem;
  }

  article {
      font-size: 1rem;
  }

  footer nav {
      height: fit-content;
      margin-bottom: 2rem;
  }

  #projects-section {
    margin-top: 4rem;
  }

  .project-details-container {
    justify-content: center;
  }

  .individual-project-container {
    width: 100%;
  }

  .about-containers, .specific-details-container, .contact-info-upper-container, .btn-container {
      flex-wrap: wrap;
  }

  .contact-info-container {
      margin: 0;
  }

  .contact-info-container p, .nav-links li a {
      font-size: 1rem;
  }

  .contact-section-intro {
    margin-top: 0;
}

  .experience-details-container {
    margin-top: 0;
  }

  .experience-sub-title {
      font-size: 1.25rem;
  }

  .logo {
      font-size: 1.5rem;
  }

  .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
  }

  .profile-picture-container, .about-section-pic-container {
      /* width: auto; */
      /* height: 46vw; */
      justify-content: center;
  }

  .section-text-for-paragraph2 {
      font-size: 1.25rem;
  }

  .section-title {
      font-size: 2rem;
  }


  #contact-section {
    margin-top: 12rem;
  }
}

@media screen and (min-width: 445px) and (max-width: 600px) {
  .contact-info-upper-container {
    flex-direction: column;
  }
}
